{% extends 'share-template.htm' %}
{%block rightcontent %}
<div class="dt_g_right_bar">
	<div class="dt_g_right_subdiv_second">
		<div class="bs-docs-grid" style="padding-bottom:20px;">
			<div class="row show-grid grid js-masonry">
				{% for afp in afpList %}
				<div class="col-xs-12 col-md-5 col-lg-6  box-shadow grid-item afp-share share-grid" style="margin-left: 2%;margin-bottom:2%;min-width: 400px;" data-name="{{afp['name']}}" data-path="{{afp['path']}}">
					<div class="basic_content">
						<div class="share_header">
							<img src="css/image/folder1.png" style="width:40px;margin-top:-12px;" >
							<span class="ellipsis" title="{{ afp['name'] }}">{{afp['name']}}</span>
							<a class="fl-rt js-delete-share hidden js-delete-afp-share" href="javascript:;" data-toggle="tooltip" title="{{fileLang.del_the_share}}" style="margin-right: 30px;">
								<img src="css/image/delete.png" style="width:40px;margin-top:-12px;" >
							</a>
							<a class="fl-rt js-edit-share hidden js-edit-afp-share" href="javascript:;" data-toggle="tooltip" title="{{fileLang.edit_this_share}}" style="margin-right: 30px;">
								<img src="css/image/edit.png" style="width:40px;margin-top:-12px;" class="test">
							</a>
						</div>
						<div class="basic_cont_row">
							<div class="col-lg-3 basic-lg-3 fl-lt c_left">{{fileLang.path}}：</div>
							<div class="col-lg-8 basic-lg-8 fl-lt basic_cont_right" style="margin-left:-56px;">{{afp['path']}}</div>
						</div>
						<div class="divider" style="height:1px;background-color:#F5F5F5;"></div>
						<div class="basic_cont_row">
							<span class="js-count-group"  style="color:#2cbbf4">
							</span>
							<span class="share-i">{{fileLang.per_user_group}}，</span>
							<span class="js-count-user"  style="color:#2cbbf4"></span><span class="share-i">{{fileLang.per_user_own_this}}</span>
						</div>
						<div class="basic_content_list">
							{%for user in afp['ulist'] %}
							<div class="share-row {% if user['isgroup'] == 1 %}js-group-share{%elseif user['isgroup'] == 0%}js-user-share{%endif%}">
								{% if user['isgroup'] == 1 %}
								<span>{{fileLang.user_group}}</span>
								<span>{{user['user']}}</span>
								{%elseif user['isgroup'] == 0%}
								<span>{{fileLang.user}}</span>
								<span>{{user['user']}}</span>
								{%endif%}
								{% if user['auth'] == 0 %}
								<span>&nbsp;&nbsp;[{{fileLang.noauth}}]</span>
								{%elseif user['auth'] == 1%}
								<span>&nbsp;&nbsp;[{{fileLang.read_only}}]</span>
								{%elseif user['auth'] == 2%}
								<span>&nbsp;&nbsp;[{{fileLang.read_and_write}}]</span>
								{%endif%}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="bottom-icons-act" data-toggle="tooltip" title="{{fileLang.create_afp}}">
	<a href="javascript:;" id="create-afp-share">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
</div>
{%endblock%}
{% block javascript %}
<script type="text/javascript" src="js/pages/file.js"></script>
<script type="text/javascript">
	$(function (ev) {
		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: '.col-lg-6',
			percentPosition: true
		});
		//显示每个afp共享的用户和用户组的个数
		$afp = $('.afp-share');
		$afp.each(function (i) {
			$this = $(this);
			$list = $this.find('.basic_content_list');
			var gnum = 0,
					unum = 0;
			gnum = $list.find('.js-group-share').length;
			unum = $list.find('.js-user-share').length;
			$this.find('.js-count-group').text(gnum);
			$this.find('.js-count-user').text(unum);
		})
	})
</script>
{% endblock %}