{% extends 'share-template.htm' %}
{%block rightcontent %}
<div class="dt_g_right_bar">
	<div class="dt_g_right_subdiv_second">
		<div class="bs-docs-grid" style="padding-bottom:20px;">
			<div class="row show-grid grid js-masonry">
				<!-- ftp共享 -->
				{% for ftp in ftpList %}
				<div class="col-xs-12 col-md-5 col-lg-6  box-shadow grid-item grid-item-style ftp-share share-grid" data-name="{{ftp['name']}}" data-path="{{ftp['path']}}">
					<div class="basic_content">
						<div class="share_header">
							<img src="css/image/folder1.png" style="width:40px;margin-top:-12px;" >
							<span>{{ftp['name']}}</span>
							<a class="fl-rt js-delete-share hidden js-delete-ftp-share" href="javascript:;" data-toggle="tooltip" title="{{fileLang.del_the_share}}" style="margin-right: 30px;">
								<img src="css/image/delete.png" style="width:40px;margin-top:-12px;" >
							</a>
							<a class="fl-rt js-edit-share hidden js-edit-ftp-share" href="javascript:;" data-toggle="tooltip" title="{{fileLang.edit_this_share}}" style="margin-right: 30px;">
								<img src="css/image/edit.png" style="width:40px;margin-top:-12px;" class="test">
							</a>
						</div>
						<div class="basic_cont_row">
							<div class="col-lg-3 basic-lg-3 fl-lt c_left">{{fileLang.path}}：</div>
							<div class="col-lg-8 basic-lg-8 fl-lt basic_cont_right" style="margin-left:-56px;">{{ftp['path']}}</div>
						</div>
						<div class="divider" style="height:1px;background-color:#F5F5F5;"></div>
						<div class="basic_cont_row">
							<span style="color:#2cbbf4">{{ftp['ulist']|length}}</span>
							<span class="share-i">{{fileLang.per_user_own_this}}</span>
						</div>
						<div class="basic_content_list">
							{%for user in ftp['ulist'] %}
							<div class="share-row">
								<span>{{fileLang.user}}</span>
								<span>{{user['user']}}</span>
								{% if user['auth'] == 0 %}
								<span>&nbsp;&nbsp;[{{fileLang.noauth}}]</span>
								{%elseif user['auth'] == 1%}
								<span>&nbsp;&nbsp;[{{fileLang.read_only}}]</span>
								{%elseif user['auth'] == 2%}
								<span>&nbsp;&nbsp;[{{fileLang.read_and_write}}]</span>
								{%endif%}
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endfor %}
			</div>
		</div>
	</div>
</div>
<div class="bottom-icons-act" data-toggle="tooltip" title="{{fileLang.create_ftp}}">
	<a href="javascript:;" id="create-ftp-share">
		<span class="glyphicon glyphicon-plus"></span>
	</a>
</div>
{%endblock%}
{% block javascript %}
<script type="text/javascript" src="js/pages/file.js"></script>
<script type="text/javascript">
	$(function (ev) {
		$('.grid').masonry({
			itemSelector: '.grid-item',
			columnWidth: '.col-lg-6',
			percentPosition: true
		});
	})
</script>
{% endblock %}